.add-service form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .add-service form input, textarea{
        width: 38%;
        padding: 10px;
        margin-bottom: 10px;

    }

    
